**/*.a
**/*.bin
**/*.bit
**/*.mcs
**/*.zip
**/*.u64
**/*.u2u
**/*.u2p
**/*.u2r
**/*.u2l
**/*.ue2
**/*.pyc
**/*.vcd
**/v*.str
**/v*.jou
**/*.log
**/*.xrpt
**/_xmsgs
**/output
**/result
**/python_out_iec
**/python_out_nano
**/work
**/xlnx_auto_0_xdb
/audio
**/.asdb
dataset.*
/sim/work
tools/*.vcd
tools/*.bin
fpga/altera/sim
fpga/cpu_unit/mblite/designs
fpga/cpu_unit/mblite/doc
fpga/cpu_unit/mblite/sw
fpga/cpu_unit/mblite/tb
fpga/cpu_unit/sim/mblite
fpga/cpu_unit/tl_mblite
fpga/io/c2n_playback/sim
fpga/io/rmii/sim/*.wlf
fpga/io/rmii/sim/work
fpga/io/sigma_delta_dac/sim
fpga/io/tomas
fpga/io/usb2/sim
fpga/ip/video/sim
fpga/nios/software
fpga/nios_solo/software/memtest_bsp
fpga/sid6581/sim/modelsim.ini
fpga/sid6581/sim/transcript
fpga/sid6581/sim/unisim
fpga/sid6581/sim/vsim.wlf
fpga/sid6581/sim/work
fpga/sid6581/tools
fpga/sid_old
/old_flash_images
/releases
roms/JiffyDOS_1541_6.00_(rebadged_5.0).bin
software/Debug
software/Lean
software/PathTest
software/contrib-1.4.1
software/libc
software/libzip-0.11.2
software/nios_appl_bsp/obj
software/nios_dut_bsp/obj
software/nios_tester_bsp/obj
software/nios_solo_bsp/obj
software/zlib-1.2.8
target/fpga/**/.*.ini
target/fpga/**/impl1
target/fpga/**/*.dir
target/fpga/**/*.html
target/fpga/**/*.xml
target/fpga/**/*.rv*
target/fpga/**/readback
target/fpga/boot400
target/fpga/boot700
target/fpga/rv700dd/rv700dd
target/fpga/lx16
target/fpga/testdut/*.hex
target/fpga/testdut/*.sopcinfo
target/fpga/testdut/*.stp
target/fpga/testdut/*.txt
target/fpga/testdut/.qsys_edit
target/fpga/testdut/db
target/fpga/testdut/greybox*
target/fpga/testdut/incremental_db
target/fpga/testdut/output_files
target/fpga/testexec/*.hex
target/fpga/testexec/*.stp
target/fpga/testexec/*.txt
target/fpga/testexec/.qsys_edit
target/fpga/testexec/db
target/fpga/testexec/incremental_db
target/fpga/testexec/output_files
target/fpga/u2c5/*.csv
target/fpga/u2c5/*.txt
target/fpga/u2c5/db
target/fpga/u2c5/incremental_db
target/fpga/u2c5/output_files
target/fpga/u2c5/remote
target/fpga/u2p_memtest/*.csv
target/fpga/u2p_memtest/*.txt
target/fpga/u2p_memtest/db
target/fpga/u2p_memtest/greybox_tmp
target/fpga/u2p_memtest/incremental_db
target/fpga/u2p_memtest/output_files
target/fpga/u2p_memtest/simulation
target/fpga/u2plus/*.csv
target/fpga/u2plus/*.txt
target/fpga/u2plus/*.xml
target/fpga/u2plus/db
target/fpga/u2plus/greybox_tmp
target/fpga/u2plus/incremental_db
target/fpga/u2plus/output_files
target/fpga/u2plus_recovery/*.cdf
target/fpga/u2plus_recovery/*.hex
target/fpga/u2plus_recovery/*.qws
target/fpga/u2plus_recovery/*.stp
target/fpga/u2plus_recovery/*.txt
target/fpga/u2plus_recovery/db
target/fpga/u2plus_recovery/incremental_db
target/fpga/u2plus_recovery/output_files
target/fpga/u2p_riscv/db
target/fpga/u2p_riscv/incremental_db
target/fpga/u2p_riscv/output_files
target/fpga/u2plus_recovery/ultimate_recovery_assignment_defaults.qdf
target/fpga/u2plus_run/*.cdf
target/fpga/u2plus_run/*.hex
target/fpga/u2plus_run/*.qws
target/fpga/u2plus_run/*.stp
target/fpga/u2plus_run/*.txt
target/fpga/u2plus_run/db
target/fpga/u2plus_run/incremental_db
target/fpga/u2plus_run/output_files
target/fpga/u2plus_run/ultimate_run_assignment_defaults.qdf
target/fpga/u2plus_solo
target/fpga/work1400
target/fpga/work250
target/fpga/work400
target/fpga/work700
target/fpga/work700c
target/fpga/xilinx_device_details.xml
target/sb_lib
target/simulation/packages/vhdl_bfm_local
target/simulation/sim/mblite
target/simulation/sim/modelsim.ini
target/simulation/sim/transcript
target/simulation/sim/unisim
target/simulation/sim/vsim.wlf
target/simulation/sim/work
target/software/**/d
target/software/1st_boot/output
target/software/1st_boot/result
target/software/2nd_boot/output
target/software/2nd_boot/python_out_nano
target/software/2nd_boot/result
target/software/checker/output
target/software/checker/result
target/software/cyg_filesystems/output
target/software/lwip/output
target/software/lwip/result
target/software/mb_boot/output
target/software/mb_boot/output_mb
target/software/mb_boot/result
target/software/mb_boot/result_mb
target/software/mb_boot2/output
target/software/mb_boot2/result
target/software/mb_boot_dd/output
target/software/mb_boot_dd/result
target/software/mb_chan
target/software/mb_hello/output_mb
target/software/mb_hello/result_mb
target/software/mb_irq/output
target/software/mb_irq/result
target/software/mb_lib/output_mb
target/software/mb_lib/result_mb
target/software/mb_lwip/output
target/software/mb_lwip/result
target/software/mb_programmer/output
target/software/mb_programmer/result
target/software/mb_revert/output
target/software/mb_revert/result
target/software/mb_rtos/output
target/software/mb_rtos/result
target/software/mb_rtos_netw/output_mb
target/software/mb_rtos_netw/result_mb
target/software/mb_sim_boot/output
target/software/mb_sim_boot/result
target/software/mb_test_fileio/output
target/software/mb_ui/output
target/software/mb_ultimate/d*
target/software/mb_ultimate/output
target/software/mb_ultimate/python_out_iec
target/software/mb_ultimate/python_out_nano
target/software/mb_ultimate/result
target/software/mb_update/output
target/software/mb_update/result
target/software/mb_update_dd/output
target/software/mb_update_dd/result
target/software/mb_usb_test/output_mb
target/software/mb_usb_test/result_mb
target/software/mb_xmodem/output
target/software/mb_xmodem/output_mb
target/software/mb_xmodem/result
target/software/mb_xmodem/result_mb
target/software/nios2_dut/output
target/software/nios2_dut/python*
target/software/nios2_dut/result
target/software/nios2_dutboot/output
target/software/nios2_dutboot/result
target/software/nios2_elf_lwip/output
target/software/nios2_elf_lwip/result
target/software/nios2_flash/output
target/software/nios2_flash/result
target/software/nios2_loader1/output
target/software/nios2_loader1/result
target/software/nios2_loader2/output
target/software/nios2_loader2/result
target/software/nios2_recovery/output
target/software/nios2_recovery/python_out*
target/software/nios2_recovery/result
target/software/nios2_rtos/output
target/software/nios2_rtos/result
target/software/nios2_testboot/output
target/software/nios2_testboot/result
target/software/nios2_tester/flash
target/software/nios2_tester/output
target/software/nios2_tester/python*
target/software/nios2_tester/result
target/software/nios2_tester/tester
target/software/nios2_testflasher/output
target/software/nios2_testflasher/result
target/software/nios2_testloader/output
target/software/nios2_testloader/python*
target/software/nios2_testloader/result
target/software/nios2_u64_boot/output
target/software/nios2_u64_boot/result
target/software/nios2_u64/output
target/software/nios2_u64/python*
target/software/nios2_u64/result
target/software/nios2_ultimate/d
target/software/nios2_ultimate/output
target/software/nios2_ultimate/python_out*
target/software/nios2_ultimate/result
target/software/nios2_update/output
target/software/nios2_update/python*
target/software/nios2_update/result
target/software/nios2_update_u64/output
target/software/nios2_update_u64/python*
target/software/nios2_update_u64/result
target/software/nios2_update_u64a4/output
target/software/nios2_update_u64a4/python*
target/software/nios2_update_u64a4/result
target/software/programmer/output
target/software/programmer/result
target/software/ultimate/output
target/software/ultimate/python_out_iec
target/software/ultimate/python_out_nano
target/software/ultimate/result
target/software/update/output
target/software/update/result
target/software/update_to_mb/output
target/software/update_to_mb/result
target/tester_package/flash
target/tester_package/tester
software/nios_appl_bsp/libhal_bsp.a
software/nios_solo_bsp/libhal_bsp.a
tools/bin2hex
tools/checksum
tools/dump_rtos_trace
tools/dump_vcd
tools/hex2bin
tools/make_array
tools/make_mem
tools/makeappl
tools/promgen
tools/svf_dump
tools/swap
software/6502/sidcrt/target
*.d
tools/dump_bus_trace
tools/64tass/*.o
/chars/
.vscode
.idea
python/grab*
fpga/cpu_unit/rvlite/vhdl_source/bootrom_pkg_u2.vhd
fpga/cpu_unit/rvlite/vhdl_source/bootrom_pkg_u2_loader.vhd

