target/fpga/_xmsgs
target/fpga/work400
target/fpga/work700
target/fpga/xlnx_auto_0_xdb
target/simulation/sim/work
target/software/1st_boot/output
target/software/1st_boot/result
target/software/2nd_boot/output
target/software/2nd_boot/result
target/software/ultimate/output
target/software/ultimate/result
target/software/update/output
target/software/update/result
