[submodule "neorv32"]
	path = neorv32
	url = https://github.com/GideonZ/neorv32
[submodule "tools/ecpprog"]
	path = tools/ecpprog
	url = https://github.com/GideonZ/ecpprog
[submodule "software/httpd"]
	path = software/httpd
	url = http://github.com/GideonZ/MicroHttpServer
[submodule "software/lwip"]
	path = software/lwip
	url = https://github.com/GideonZ/lwip
