/*.bin
/*.bit
/*.mcs
/*.zip
/audio
fpga/cpu_unit/mblite/designs
fpga/cpu_unit/mblite/doc
fpga/cpu_unit/mblite/sw
fpga/cpu_unit/mblite/tb
fpga/cpu_unit/sim/mblite
fpga/cpu_unit/tl_mblite
fpga/io/c2n_playback/sim
fpga/io/rmii/sim/*.wlf
fpga/io/rmii/sim/work
fpga/io/sigma_delta_dac/sim
fpga/io/tomas
fpga/io/usb2/sim
fpga/ip/video/sim
fpga/sid6581/sim/modelsim.ini
fpga/sid6581/sim/transcript
fpga/sid6581/sim/vsim.wlf
fpga/sid6581/sim/work
fpga/sid6581/tools
fpga/sid_old
/old_flash_images
/releases
roms/JiffyDOS_1541_6.00_(rebadged_5.0).bin
software/Debug
software/Lean
software/PathTest
software/chan_fat
software/contrib-1.4.1
software/libc
software/libzip-0.11.2
software/zlib-1.2.8
target/fpga/*.xrpt
target/fpga/_xmsgs
target/fpga/boot400
target/fpga/boot700
target/fpga/mb700
target/fpga/u2plus/*.csv
target/fpga/u2plus/*.txt
target/fpga/u2plus/*.xml
target/fpga/u2plus/db
target/fpga/u2plus/greybox_tmp
target/fpga/u2plus/incremental_db
target/fpga/u2plus/output_files
target/fpga/work1400
target/fpga/work250
target/fpga/work400
target/fpga/work700
target/fpga/work700c
target/fpga/xilinx_device_details.xml
target/fpga/xlnx_auto_0_xdb
target/sb_lib
target/simulation/packages/vhdl_bfm_local
target/simulation/sim/mblite
target/simulation/sim/modelsim.ini
target/simulation/sim/transcript
target/simulation/sim/unisim
target/simulation/sim/vsim.wlf
target/simulation/sim/work
target/software/1st_boot/output
target/software/1st_boot/result
target/software/2nd_boot/output
target/software/2nd_boot/python_out_nano
target/software/2nd_boot/result
target/software/checker/output
target/software/checker/result
target/software/cyg_filesystems/output
target/software/lwip/output
target/software/lwip/result
target/software/mb_boot/output
target/software/mb_boot/output_mb
target/software/mb_boot/result
target/software/mb_boot/result_mb
target/software/mb_boot2/output
target/software/mb_boot2/result
target/software/mb_chan
target/software/mb_hello/output_mb
target/software/mb_hello/result_mb
target/software/mb_irq/output_mb
target/software/mb_irq/result_mb
target/software/mb_lib/output_mb
target/software/mb_lib/result_mb
target/software/mb_lwip/output
target/software/mb_lwip/result
target/software/mb_programmer/output
target/software/mb_programmer/result
target/software/mb_revert/output
target/software/mb_revert/result
target/software/mb_rtos/output
target/software/mb_rtos/result
target/software/mb_rtos_netw/output_mb
target/software/mb_rtos_netw/result_mb
target/software/mb_sim_boot/output_mb
target/software/mb_sim_boot/result_mb
target/software/mb_test_fileio/output
target/software/mb_ui/output
target/software/mb_ultimate/output
target/software/mb_ultimate/python_out_iec
target/software/mb_ultimate/python_out_nano
target/software/mb_ultimate/result
target/software/mb_update/output
target/software/mb_update/result
target/software/mb_usb_test/output_mb
target/software/mb_usb_test/result_mb
target/software/mb_xmodem/output
target/software/mb_xmodem/output_mb
target/software/mb_xmodem/result
target/software/mb_xmodem/result_mb
target/software/nios2_elf_lwip/output
target/software/nios2_elf_lwip/result
target/software/nios2_flash/output
target/software/nios2_flash/result
target/software/nios2_ultimate/d
target/software/nios2_ultimate/output
target/software/nios2_ultimate/python_out*
target/software/nios2_ultimate/result
target/software/programmer/output
target/software/programmer/result
target/software/ultimate/output
target/software/ultimate/python_out_iec
target/software/ultimate/python_out_nano
target/software/ultimate/result
target/software/update/output
target/software/update/result
target/software/update_to_mb/output
target/software/update_to_mb/result
