
CONFIG VCCAUX = 3.3;
NET "CLOCK_50" TNM_NET = "main_clk";
TIMESPEC "TS_main_clk" = PERIOD "main_clk" 52 MHz HIGH 50 %;


NET "SDRAM_DQ*" TNM = ram_data;
TIMEGRP ram_data OFFSET = IN 4 ns BEFORE CLOCK;

NET "ACT_LEDn"   IOSTANDARD = LVCMOS33 ; 
NET "SDRAM_A(0)"   IOSTANDARD = LVCMOS33  |SLEW = SLOW ; 
NET "SDRAM_A(1)"   IOSTANDARD = LVCMOS33  |SLEW = SLOW ; 
NET "SDRAM_A(2)"   IOSTANDARD = LVCMOS33  |SLEW = SLOW ; 
NET "SDRAM_A(3)"   IOSTANDARD = LVCMOS33  |SLEW = SLOW ; 
NET "SDRAM_A(4)"   IOSTANDARD = LVCMOS33  |SLEW = SLOW ; 
NET "SDRAM_A(5)"   IOSTANDARD = LVCMOS33  |SLEW = SLOW ; 
NET "SDRAM_A(6)"   IOSTANDARD = LVCMOS33  |SLEW = SLOW ; 
NET "SDRAM_A(7)"   IOSTANDARD = LVCMOS33  |SLEW = SLOW ; 
NET "SDRAM_A(8)"   IOSTANDARD = LVCMOS33  |SLEW = SLOW ; 
NET "SDRAM_A(9)"   IOSTANDARD = LVCMOS33  |SLEW = SLOW ; 
NET "SDRAM_A(10)"   IOSTANDARD = LVCMOS33  |SLEW = SLOW ; 
NET "SDRAM_A(11)"   IOSTANDARD = LVCMOS33  |SLEW = SLOW ; 
NET "SDRAM_A(12)"   IOSTANDARD = LVCMOS33  |SLEW = SLOW ; 
NET "SDRAM_A(13)"   IOSTANDARD = LVCMOS33  |SLEW = SLOW ; 
NET "SDRAM_A(14)"   IOSTANDARD = LVCMOS33  |SLEW = SLOW ; 

NET "SDRAM_DQ(0)"   IOSTANDARD = LVCMOS33 ; 
NET "SDRAM_DQ(1)"   IOSTANDARD = LVCMOS33 ; 
NET "SDRAM_DQ(2)"   IOSTANDARD = LVCMOS33 ; 
NET "SDRAM_DQ(3)"   IOSTANDARD = LVCMOS33 ; 
NET "SDRAM_DQ(4)"   IOSTANDARD = LVCMOS33 ; 
NET "SDRAM_DQ(5)"   IOSTANDARD = LVCMOS33 ; 
NET "SDRAM_DQ(6)"   IOSTANDARD = LVCMOS33 ; 
NET "SDRAM_DQ(7)"   IOSTANDARD = LVCMOS33 ; 

NET "SDRAM_CASn"   IOSTANDARD = LVCMOS33  |DRIVE = 8 ; 
NET "SDRAM_CKE"   IOSTANDARD = LVCMOS33  |DRIVE = 8 ; 
NET "SDRAM_CLK"   IOSTANDARD = LVCMOS33  |DRIVE = 8 ; 
NET "SDRAM_CSn"   IOSTANDARD = LVCMOS33  |DRIVE = 8 ; 
NET "SDRAM_DQM"   IOSTANDARD = LVCMOS33 | DRIVE = 8; 
NET "SDRAM_RASn"   IOSTANDARD = LVCMOS33  |DRIVE = 8 ; 
NET "SDRAM_WEn"   IOSTANDARD = LVCMOS33  |DRIVE = 8 ; 

NET "CLOCK_50" LOC = T7;

#NET "BUFFER_ENn" LOC = B15;
#NET "BUTTON(0)" LOC = R3;
#NET "BUTTON(1)" LOC = P2;
#NET "BUTTON(2)" LOC = M1;

NET "SDRAM_A(0)"  LOC = B4;
NET "SDRAM_A(1)"  LOC = A4;
NET "SDRAM_A(2)"  LOC = B3;
NET "SDRAM_A(3)"  LOC = A3;
NET "SDRAM_A(4)"  LOC = C7;
NET "SDRAM_A(5)"  LOC = A8;
NET "SDRAM_A(6)"  LOC = B8;
NET "SDRAM_A(7)"  LOC = C8;
NET "SDRAM_A(8)"  LOC = D8;
NET "SDRAM_A(9)"  LOC = A9;
NET "SDRAM_A(10)" LOC = C4;
NET "SDRAM_A(11)" LOC = C9;
NET "SDRAM_A(12)" LOC = D9;
NET "SDRAM_A(13)" LOC = A5;
NET "SDRAM_A(14)" LOC = C5;

NET "SDRAM_DQ(0)" LOC = A14;
NET "SDRAM_DQ(1)" LOC = A13;
NET "SDRAM_DQ(2)" LOC = B12;
NET "SDRAM_DQ(3)" LOC = C11;
NET "SDRAM_DQ(4)" LOC = A11;
NET "SDRAM_DQ(5)" LOC = A12;
NET "SDRAM_DQ(6)" LOC = C12;
NET "SDRAM_DQ(7)" LOC = C13;

NET "SDRAM_CSn"  LOC = A6 ;
NET "SDRAM_RASn" LOC = B6 ;
NET "SDRAM_CASn" LOC = C6 ;
NET "SDRAM_WEn"  LOC = A7 ;
NET "SDRAM_CKE"  LOC = A10 ;
NET "SDRAM_CLK"  LOC = B10;
NET "SDRAM_DQM"  LOC = C10;

NET "ACT_LEDn" LOC = N1;

CONFIG PROHIBIT = T12;
CONFIG PROHIBIT = R2;
CONFIG PROHIBIT = P4;
CONFIG PROHIBIT = N4;
