(edif pll2
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timestamp 2022 10 12 10 58 34)
      (program "SCUBA" (version "Diamond (64-bit) 3.12.0.240.2"))))
      (comment "/usr/local/diamond/3.12/ispfpga/bin/lin64/scuba -w -n pll2 -lang vhdl -synth synplify -bus_exp 7 -bb -arch sa5p00 -type pll -fin 25 -fclkop 125 -fclkop_tol 1.0 -fclkos 50 -fclkos_tol 1.0 -phases 0 -phase_cntl STATIC -enable_s -rst -lock -fb_mode 1 -fdc /home/gideon/proj/ultimate/fpga/lattice/pll2/pll2.fdc ")
  (library ORCLIB
    (edifLevel 0)
    (technology
      (numberDefinition))
    (cell EHXPLLL
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port CLKI
            (direction INPUT))
          (port CLKFB
            (direction INPUT))
          (port PHASESEL1
            (direction INPUT))
          (port PHASESEL0
            (direction INPUT))
          (port PHASEDIR
            (direction INPUT))
          (port PHASESTEP
            (direction INPUT))
          (port PHASELOADREG
            (direction INPUT))
          (port STDBY
            (direction INPUT))
          (port PLLWAKESYNC
            (direction INPUT))
          (port RST
            (direction INPUT))
          (port ENCLKOP
            (direction INPUT))
          (port ENCLKOS
            (direction INPUT))
          (port ENCLKOS2
            (direction INPUT))
          (port ENCLKOS3
            (direction INPUT))
          (port CLKOP
            (direction OUTPUT))
          (port CLKOS
            (direction OUTPUT))
          (port CLKOS2
            (direction OUTPUT))
          (port CLKOS3
            (direction OUTPUT))
          (port LOCK
            (direction OUTPUT))
          (port INTLOCK
            (direction OUTPUT))
          (port REFCLK
            (direction OUTPUT))
          (port CLKINTFB
            (direction OUTPUT)))))
    (cell VHI
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port Z
            (direction OUTPUT)))))
    (cell VLO
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port Z
            (direction OUTPUT)))))
    (cell pll2
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port CLKI
            (direction INPUT))
          (port RST
            (direction INPUT))
          (port ENCLKOS
            (direction INPUT))
          (port CLKOP
            (direction OUTPUT))
          (port CLKOS
            (direction OUTPUT))
          (port LOCK
            (direction OUTPUT)))
        (property NGD_DRC_MASK (integer 1))
        (contents
          (instance scuba_vhi_inst
            (viewRef view1 
              (cellRef VHI)))
          (instance scuba_vlo_inst
            (viewRef view1 
              (cellRef VLO)))
          (instance PLLInst_0
            (viewRef view1 
              (cellRef EHXPLLL))
            (property PLLRST_ENA
              (string "ENABLED"))
            (property INTFB_WAKE
              (string "DISABLED"))
            (property STDBY_ENABLE
              (string "DISABLED"))
            (property DPHASE_SOURCE
              (string "DISABLED"))
            (property CLKOS3_FPHASE
              (string "0"))
            (property CLKOS3_CPHASE
              (string "0"))
            (property CLKOS2_FPHASE
              (string "0"))
            (property CLKOS2_CPHASE
              (string "0"))
            (property CLKOS_FPHASE
              (string "0"))
            (property CLKOS_CPHASE
              (string "9"))
            (property CLKOP_FPHASE
              (string "0"))
            (property CLKOP_CPHASE
              (string "3"))
            (property PLL_LOCK_MODE
              (string "0"))
            (property CLKOS_TRIM_DELAY
              (string "0"))
            (property CLKOS_TRIM_POL
              (string "FALLING"))
            (property CLKOP_TRIM_DELAY
              (string "0"))
            (property CLKOP_TRIM_POL
              (string "FALLING"))
            (property OUTDIVIDER_MUXD
              (string "DIVD"))
            (property CLKOS3_ENABLE
              (string "DISABLED"))
            (property OUTDIVIDER_MUXC
              (string "DIVC"))
            (property CLKOS2_ENABLE
              (string "DISABLED"))
            (property FREQUENCY_PIN_CLKOS
              (string "50.000000"))
            (property OUTDIVIDER_MUXB
              (string "DIVB"))
            (property CLKOS_ENABLE
              (string "DISABLED"))
            (property FREQUENCY_PIN_CLKOP
              (string "125.000000"))
            (property OUTDIVIDER_MUXA
              (string "DIVA"))
            (property CLKOP_ENABLE
              (string "ENABLED"))
            (property FREQUENCY_PIN_CLKI
              (string "25.000000"))
            (property ICP_CURRENT
              (string "9"))
            (property LPF_RESISTOR
              (string "8"))
            (property CLKOS3_DIV
              (string "1"))
            (property CLKOS2_DIV
              (string "1"))
            (property CLKOS_DIV
              (string "10"))
            (property CLKOP_DIV
              (string "4"))
            (property CLKFB_DIV
              (string "5"))
            (property CLKI_DIV
              (string "1"))
            (property FEEDBK_PATH
              (string "CLKOP")))
          (net REFCLK
            (joined
              (portRef REFCLK (instanceRef PLLInst_0))))
          (net scuba_vhi
            (joined
              (portRef Z (instanceRef scuba_vhi_inst))))
          (net scuba_vlo
            (joined
              (portRef Z (instanceRef scuba_vlo_inst))
              (portRef ENCLKOS3 (instanceRef PLLInst_0))
              (portRef ENCLKOS2 (instanceRef PLLInst_0))
              (portRef ENCLKOP (instanceRef PLLInst_0))
              (portRef PLLWAKESYNC (instanceRef PLLInst_0))
              (portRef STDBY (instanceRef PLLInst_0))
              (portRef PHASELOADREG (instanceRef PLLInst_0))
              (portRef PHASESTEP (instanceRef PLLInst_0))
              (portRef PHASEDIR (instanceRef PLLInst_0))
              (portRef PHASESEL1 (instanceRef PLLInst_0))
              (portRef PHASESEL0 (instanceRef PLLInst_0))))
          (net LOCK
            (joined
              (portRef LOCK)
              (portRef LOCK (instanceRef PLLInst_0))))
          (net CLKOS
            (joined
              (portRef CLKOS)
              (portRef CLKOS (instanceRef PLLInst_0))))
          (net CLKOP
            (joined
              (portRef CLKOP)
              (portRef CLKFB (instanceRef PLLInst_0))
              (portRef CLKOP (instanceRef PLLInst_0))))
          (net ENCLKOS
            (joined
              (portRef ENCLKOS)
              (portRef ENCLKOS (instanceRef PLLInst_0))))
          (net RST
            (joined
              (portRef RST)
              (portRef RST (instanceRef PLLInst_0))))
          (net CLKI
            (joined
              (portRef CLKI)
              (portRef CLKI (instanceRef PLLInst_0))))))))
  (design pll2
    (cellRef pll2
      (libraryRef ORCLIB)))
)
